<div class='card bg-light'>
    <span class="card-header text-light bg-info">{{ pageTitle }}</span>
    <div class="card-body">
        <div class="row">
            <div class='col-md-2'>Filter by: </div>
            <div class="col-md-4">
                <input [(ngModel)]="listFilter"
                       type="text"
                       class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h4>Filtered by: {{ listFilter }}</h4>
            </div>
            <table class="table table-striped"
                   *ngIf="products && products.length">
                <thead>
                    <tr>
                        <th>
                            <button class="btn btn-info"
                                    (click)="toggleImage()">{{ showImage ? "Hide" : "Show" }} Image</button>
                        </th>
                        <th>Product</th>
                        <th>ID</th>
                        <th>Release Date</th>
                        <th>Price</th>
                        <th>Rating</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let product of products'>
                        <td>
                            <img *ngIf="showImage"
                                 [src]="product.imageUrl"
                                 [title]="product.productName"
                                 [style.width.px]="imageWidth"
                                 [style.margin.px]="imageMargin">
                        </td>
                        <td>{{ product.productName }}</td>
                        <td>{{ product.productCode | convertToSpaces:'-' }}</td>
                        <td>{{ product.releaseDate | date: 'longDate'}}</td>
                        <td>{{ product.price | currency:'USD':true:'1.2-2' }}</td>
                        <td>{{ product.starRating }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>